$font-size-display-xlarge: 56px;
$font-size-display-xlarge-responsive: 40px;
$font-size-display-large: 48px;
$font-size-display-large-responsive: 32px;
$font-size-display-medium: 40px;
$font-size-display-medium-responsive: 24px;
$font-size-display-small: 32px;
$font-size-display-small-responsive: 24px;
$font-size-display-xsmall: 24px;
$font-size-display-xsmall-responsive: 24px;
$font-size-title-xlarge: 24px;
$font-size-title-large: 18px;
$font-size-title-medium: 16px;
$font-size-title-small: 14px;
$font-size-button-xlarge: 18px;
$font-size-button-large: 16px;
$font-size-button-medium: 14px;
$font-size-button-small: 12px;
$font-size-button-icon-xlarge: 28px;
$font-size-button-icon-large: 24px;
$font-size-button-icon-medium: 20px;
$font-size-button-icon-small: 16px;
$font-size-body-xlarge: 24px;
$font-size-body-xlarge-responsive: 18px;
$font-size-body-large: 18px;
$font-size-body-large-responsive: 16px;
$font-size-body-medium: 16px;
$font-size-body-medium-responsive: 14px;
$font-size-body-small: 14px;
$font-size-caption: 12px;
$font-size-icon-xlarge: 32px;
$font-size-icon-large: 28px;
$font-size-icon-medium: 24px;
$font-size-icon-small: 20px;
$font-size-icon-xsmall: 16px;
