$line-height-display-xlarge: 64px;
$line-height-display-xlarge-responsive: 48px;
$line-height-display-large: 56px;
$line-height-display-large-responsive: 40px;
$line-height-display-medium: 48px;
$line-height-display-medium-responsive: 32px;
$line-height-display-small: 40px;
$line-height-display-small-responsive: 32px;
$line-height-display-xsmall: 32px;
$line-height-display-xsmall-responsive: 32px;
$line-height-title-xlarge: 32px;
$line-height-title-large: 24px;
$line-height-title-medium: 24px;
$line-height-title-small: 24px;
$line-height-button-xlarge: 40px;
$line-height-button-large: 32px;
$line-height-button-medium: 24px;
$line-height-button-small: 16px;
$line-height-body-xlarge: 32px;
$line-height-body-xlarge-responsive: 24px;
$line-height-body-large: 24px;
$line-height-body-large-responsive: 24px;
$line-height-body-medium: 24px;
$line-height-body-medium-responsive: 24px;
$line-height-body-small: 24px;
$line-height-caption: 16px;
