@import '~styles/tokens.scss';

$color-icon-primary: $color-primary;
$color-icon-secondary: $color-white;
$color-icon-default: $color-dark-grey-100;
$color-icon-disabled: $color-light-grey-50;
$color-icon-bg: $color-light-grey-20;
$color-icon-bg-hover: $color-light-grey-30;
