@import '~styles/tokens';

$color-text-field-bg: $color-white;
$color-text-field-bg-disabled: #ebeff5;
$color-text-field-text: #060b25;
$color-text-field-text-disabled: #afbacc;
$color-text-field-border: #dde3ed;
$color-text-field-border-focus: #1f61f7;
$color-text-field-border-error: #eb5454;
$color-text-field-label: #afbacc;
$color-text-field-label-focus: #1f61f7;
$color-text-field-label-error: #eb5454;
$color-text-field-box-shadow: rgba(18, 25, 84, 0.07);
$color-text-field-feedback-error: #eb5454;
$color-text-field-telephone-prefix-text: #060b25;
$color-text-field-placeholder: #afbacc;
