@import '~styles/tokens/dist/tokens.scss';

$color-text-field-bg: $color-white;
$color-text-field-bg-disabled: $color-disabled;
$color-text-field-text: $color-title;
$color-text-field-text-disabled: $color-placeholder;
$color-text-field-border: $color-border;
$color-text-field-border-focus: $color-primary;
$color-text-field-border-error: $color-danger;
$color-text-field-label: $color-placeholder;
$color-text-field-label-focus: $color-primary;
$color-text-field-label-error: $color-danger;
$color-text-field-box-shadow: $color-box-shadow;
$color-text-field-feedback-error: $color-danger;
$color-text-field-telephone-prefix-text: $color-title;
$color-text-field-placeholder: $color-placeholder;
